*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(34, 34, 34);

}
header{

    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.conteudo{
    display: flex;
}

#interface_menu{
    display: flex;
    justify-content: center;
}


li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #FF6002;
    transition: 0.3s all;
}
.titulo_introducao{
    font-size: 55px;
    text-align: center;
    color: #FF6002;
    margin-top: 50px;
}
.subtitulo{
    font-size: 35px;
    text-align: center;
    color: #FF6002;
    margin: 15px;
}

.introducao_site .interface{
    padding: 100px;

}
.img_introducao{
    display: block;
    text-align: center;
}

.img_intro{
    border-radius: 30px;
}

.txt_introducao{
    color: white;
    text-align: justify;   
    padding-left: 20px;
    padding-right: 30px;
    justify-content: center;
    font-size: 18px;
}
