*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins';
    background-color: rgb(34, 34, 34);
    max-width: 2100px;
}

.flex{
    display: flex;
}

html{
    scroll-behavior: smooth;
}

/* estilo do header */ 

header{
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#interface_menu{
    display: flex;
    justify-content: center;
}


li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #FF6002;
    transition: 0.3s all;
}


/* equipe */ 


.equipe .teste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}


.txt_equipe{
    text-align: center;
    display: block;
}

.op_equipe{
    align-items: center;
    padding: 0;
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
 }

.equipe article{
    padding: 20px;
}

.integrantes{
    background-color: #FF6002;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    width: 25%;
    margin-top: 20px;
    margin: 50px;
    gap: 20px;
    padding: 10px;      
    width: 400px;
}

.fotos_equipe img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    
}

.equipe .txt_equipe, .h3_contato{
    color: #FF6002;
}

.btn_social button{
    width: 70px;
    height: 70px;
    border-radius: 0.4em;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    display: inline;
    border: none;
    color: white;
}

/* formulário */ 

.footer-content{
    align-items: center;
}
form{
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-top: 50px;
}

form input, form textarea{
    border: 1px solid #c44a04;
    border-radius: 30px;
    outline: 0;
    padding: 20px 15px;
    font-size: 18px;
    background-color: transparent;
    font-family: poppinsregular;
    color: white;
    font-family: 'Poppins';

}

form input::placeholder, form textarea::placeholder{
    color: white;
    font-family: 'Poppins';
}

form textarea{
    resize: none;
    max-height: 200px;
}

.btn_enviar{
    margin-top: 10px; 
    margin-bottom: 40px;
}

.btn_enviar button{
    width: 60px;
    height: 37px;
    border-radius: 5px;
    background-color: #FF6002;
    border: 1px solid #FF6002;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    font-family: 'Poppins';
    color: white;
    padding: 7px;
}


.btn_enviar input:hover{
    transform: scale(1.05);
    border-color: transparent;
}

/* estilo footer */

footer{
    background-color: #FF6002;
    padding-top: 15px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    padding: 20px;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 550px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    flex-direction: column;
    text-align: center;
}

.paginas{
    padding: 0;
}
.paginas li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.paginas li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #343434;
    transition-duration: .5s;
}
.paginas li:hover::before{
    width: 70px;
}

/* fim contato */ 

a{
    text-decoration: none;
}
a:hover{
    color: #343434;
}

.txt_footer{
    color: white;
    text-align: justify;
}
/* direitos autorais */

.bottom-bar{
    background-color: #FF6002;
    text-align: center;
    padding: 0;
    margin-top: 50px;  
}

.bottom-bar p{
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}